https://drive.google.com/file/d/1uzGRoPLwavhM-aZtOtcaF_ZPNKlE5YSl/view?usp=share_link БД

https://concrete-web-bad.notion.site/SQL-d5462ca554014f1b9be3e6f78854750f задание

# Проектс SQL. Сервис чтения книг

Ваша компания купила крупный сервис для чтения книг по подписке.

Цели:
- проанализировать базу данных. В ней — информация о книгах, издательствах, авторах, а также пользовательские обзоры книг
- сформулировать ценностное предложение для нового продукта

## Загрузка базы данных

In [1]:
! gdown -- 1uzGRoPLwavhM-aZtOtcaF_ZPNKlE5YSl

Downloading...
From: https://drive.google.com/uc?id=1uzGRoPLwavhM-aZtOtcaF_ZPNKlE5YSl
To: /content/CA.pem
100% 3.58k/3.58k [00:00<00:00, 6.46MB/s]

In [2]:
import pandas as pd
from sqlalchemy import create_engine
# устанавливаем параметры
db_config = {'user': 'praktikum_student', # имя пользователя
'pwd': 'Sdf4$2;d-d30pp', # пароль
'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
'port': 6432, # порт подключения
'db': 'data-analyst-final-project-db'} # название базы данных
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
 db_config['pwd'],
 db_config['host'],
 db_config['port'],
 db_config['db'])
# сохраняем коннектор
engine = create_engine(connection_string, connect_args={'sslmode':'require'})

In [3]:
query = ''' SELECT *
            FROM books
            LIMIT 1
        '''
pd.io.sql.read_sql(query, con = engine)

   book_id  author_id         title  num_pages publication_date  publisher_id
0        1        546  'Salem's Lot        594       2005-11-01            93

In [4]:
query = ''' SELECT *
            FROM authors
            LIMIT 1
        '''
pd.io.sql.read_sql(query, con = engine)

   author_id      author
0          1  A.S. Byatt

In [5]:
query = ''' SELECT *
            FROM ratings
            LIMIT 1
        '''
pd.io.sql.read_sql(query, con = engine)

   rating_id  book_id    username  rating
0          1        1  ryanfranco       4

In [6]:
query = ''' SELECT *
            FROM reviews
            LIMIT 1
        '''
pd.io.sql.read_sql(query, con = engine)

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...

In [7]:
query = ''' SELECT *
            FROM publishers
            LIMIT 1
        '''
pd.io.sql.read_sql(query, con = engine)

   publisher_id publisher
0             1       Ace

##Задания

### 1. Посчитайте, сколько книг вышло после 1 января 2000 года;

In [8]:
query = ''' SELECT count(book_id)
            FROM books
            WHERE publication_date > '2000-01-01'
        '''
pd.io.sql.read_sql(query, con = engine)

   count
0    819

### 2. Для каждой книги посчитайте количество обзоров и среднюю оценку;

In [9]:
query = ''' SELECT book_id,
                   title,
                   count(review_id),
                   round(avg(rating), 2)
            FROM reviews re
            JOIN ratings ra USING(book_id)
            JOIN books b USING(book_id)
            GROUP BY 1,
                     2
            ORDER BY 2
        '''
pd.io.sql.read_sql(query, con = engine)

     book_id                                              title  count  round
0          1                                       'Salem's Lot      6   3.67
1          2                 1 000 Places to See Before You Die      2   2.50
2          3  13 Little Blue Envelopes (Little Blue Envelope...      9   4.67
3          4  1491: New Revelations of the Americas Before C...      4   4.50
4          5                                               1776     24   4.00
..       ...                                                ...    ...    ...
989      996           Wyrd Sisters (Discworld  #6; Witches #2)      9   3.67
990      997                        Xenocide (Ender's Saga  #3)     15   3.40
991      998                                    Year of Wonders     20   3.20
992      999                        You Suck (A Love Story  #2)      4   4.50
993     1000  Zen and the Art of Motorcycle Maintenance: An ...     24   3.83

[994 rows x 4 columns]

In [10]:
query = ''' SELECT book_id,
                   title,
                   count(review_id),
                   round(avg(rating), 2)
           FROM reviews re
           JOIN ratings ra USING(book_id)
           JOIN books b USING(book_id)
           WHERE title = 'Memoirs of a Geisha'
           GROUP BY 1,
                    2
           ORDER BY 2
        '''
pd.io.sql.read_sql(query, con = engine)

   book_id                title  count  round
0      426  Memoirs of a Geisha    230    4.2
1      427  Memoirs of a Geisha     30    3.7

### 3. Определите издательство, которое выпустило наибольшее число книг толще 50 страниц — так вы исключите из анализа брошюры;

In [11]:
query = '''
SELECT publisher,
       COUNT AS total
FROM
  (SELECT publisher,
          count(book_id)
   FROM books b
   JOIN publishers p USING(publisher_id)
   WHERE book_id in
       (SELECT book_id
        FROM books
        WHERE num_pages > 50)
   GROUP BY 1) AS filter
ORDER BY 2 DESC
LIMIT 1
        '''
pd.io.sql.read_sql(query, con = engine)

       publisher  total
0  Penguin Books     42

### 4. Определите автора с самой высокой средней оценкой книг — учитывайте только книги с 50 и более оценками;

In [12]:
query = '''
WITH filter_book AS
  (SELECT book_id,
          count(rating_id) AS total_ranks
   FROM ratings
   GROUP BY 1
   HAVING count(rating_id) >= 50),

     filter_avg AS
  (SELECT book_id,
          round(avg(rating), 2) AS avg_rating
   FROM ratings
   JOIN filter_book USING(book_id)
   GROUP BY 1),

     filter_max_row_for_author AS
  (SELECT author_id,
          avg_rating,
          max(avg_rating) OVER (PARTITION BY author_id)
   FROM books
   JOIN filter_avg USING(book_id)
   GROUP BY 1,
            2
   ORDER BY 1)

SELECT author,
       max(MAX)
FROM authors
JOIN filter_max_row_for_author USING(author_id)
GROUP BY 1
ORDER BY MAX DESC
LIMIT 1
        '''
pd.io.sql.read_sql(query, con = engine)

                       author   max
0  J.K. Rowling/Mary GrandPré  4.41

### 5. Посчитайте среднее количество обзоров от пользователей, которые поставили больше 50 оценок.

In [13]:
query = '''
SELECT r.username,
       round(avg(review_id), 2)
FROM ratings
JOIN reviews r USING(book_id)
GROUP BY 1
HAVING count(rating_id) >= 50
        '''
pd.io.sql.read_sql(query, con = engine)

           username    round
0         zjohnston  1161.35
1           jnelson  1604.29
2      lewisdesiree  1401.99
3     patrickhudson  1323.79
4             ulowe  1383.42
..              ...      ...
152  shermannatalie  1459.38
153         dmiller  1546.03
154  charlesraymond  1333.85
155     isaiahreyes  1412.41
156       masonsara  1114.99

[157 rows x 2 columns]

In [14]:
query = ''' SELECT book_id,
                   title,
                   count(review_id),
                   round(avg(rating), 2)
            FROM books
            LEFT JOIN ratings USING(book_id)
            LEFT JOIN reviews USING(book_id)
            GROUP BY 1,
                     2
            ORDER BY 2
        '''
pd.io.sql.read_sql(query, con = engine)

     book_id                                              title  count  round
0          1                                       'Salem's Lot      6   3.67
1          2                 1 000 Places to See Before You Die      2   2.50
2          3  13 Little Blue Envelopes (Little Blue Envelope...      9   4.67
3          4  1491: New Revelations of the Americas Before C...      4   4.50
4          5                                               1776     24   4.00
..       ...                                                ...    ...    ...
995      996           Wyrd Sisters (Discworld  #6; Witches #2)      9   3.67
996      997                        Xenocide (Ender's Saga  #3)     15   3.40
997      998                                    Year of Wonders     20   3.20
998      999                        You Suck (A Love Story  #2)      4   4.50
999     1000  Zen and the Art of Motorcycle Maintenance: An ...     24   3.83

[1000 rows x 4 columns]

In [15]:
reviews = pd.io.sql.read_sql(query, con = engine)
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   book_id  1000 non-null   int64
 1   title    1000 non-null   object
 2   count    1000 non-null   int64
 3   round    1000 non-null   float64
dtypes: float64(1), int64(2), object(1)
memory usage: 31.4+ KB

<div class="alert alert-success"><b>Комментарий ревьюера</b>&nbsp;👀<br>
Ты ниже не используешь этот файл, можно его не загружать. <a href='https://docs.sqlalchemy.org/en/14/dialects/mysql.html#ssl-connections'>В документации</a> указана возможность подгрузить сертификаты и делается это так:
    
    engine = create_engine(
        "mysql+mysqldb://scott:tiger@192.168.0.134/test",
        connect_args={
            "ssl": {
                "ssl_ca": "/home/gord/client-ssl/ca.pem",
                "ssl_cert": "/home/gord/client-ssl/client-cert.pem",
                "ssl_key": "/home/gord/client-ssl/client-key.pem"
            }
        }
    )
</div>

In [16]:
import pandas as pd
from sqlalchemy import create_engine
# устанавливаем параметры
db_config = {'user': 'praktikum_student', # имя пользователя
'pwd': 'Sdf4$2;d-d30pp', # пароль
'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
'port': 6432, # порт подключения
'db': 'data-analyst-final-project-db'} # название базы данных
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
 db_config['pwd'],
 db_config['host'],
 db_config['port'],
 db_config['db'])
# сохраняем коннектор
engine = create_engine(connection_string, connect_args={'sslmode':'require'})

<div class="alert alert-success"><b>Комментарий ревьюера</b>&nbsp;📝<br>
Если задать имена ключам в текстовом шаблоне, то можно гораздо короче и удобнее формировать строки:

    'postgresql://{user}:{pwd}@{host}:{port}/{db}'.format(**db_config)
</div>

<div class="alert alert-success"><b>Комментарий ревьюера</b>&nbsp;📝<br>
Хорошо! Мы познакомились с данными: посмотрели содержимое таблиц и заодно проверили соединение с сервером. Ниже некоторые полезные запросы, которые могут помочь в будущем
</div>

In [17]:
display(pd.io.sql.read_sql('''

SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND
      schemaname != 'information_schema';

''', con = engine))


# смотрим на типы столбцов в интересующих таблицах
display(pd.io.sql.read_sql('''
SELECT 
    table_name, 
    column_name, 
    data_type, 
    is_nullable
FROM INFORMATION_SCHEMA.COLUMNS 
WHERE table_name IN ('books', 'authors', 'publishers', 'ratings', 'reviews');
''', con = engine))

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,orders,praktikum_admin,None,True,False,False,False
1,public,visits,praktikum_admin,None,True,False,False,False
2,public,advertisment_costs,praktikum_admin,None,True,False,False,False
3,public,authors,praktikum_admin,None,True,False,True,False
4,public,second,praktikum_student,None,False,False,False,False
5,public,second_b,praktikum_student,None,False,False,False,False
6,public,publishers,praktikum_admin,None,True,False,True,False
7,public,author,praktikum_student,None,True,False,False,False
8,public,reviews,praktikum_admin,None,True,False,True,False
9,public,ratings,praktikum_admin,None,True,False,True,False
10,public,books,praktikum_admin,None,True,False,True,False

    table_name       column_name data_type is_nullable
0      authors         author_id   integer          NO
1      authors            author      text         YES
2   publishers      publisher_id   integer          NO
3   publishers         publisher      text         YES
4      reviews         review_id   integer          NO
5      reviews           book_id   integer         YES
6      reviews          username      text         YES
7      reviews              text      text         YES
8      ratings         rating_id   integer          NO
9      ratings           book_id   integer         YES
10     ratings          username      text         YES
11     ratings            rating   integer         YES
12       books           book_id   integer          NO
13       books         author_id   integer         YES
14       books             title      text         YES
15       books         num_pages   integer         YES
16       books  publication_date      date         YES
17       books      publisher_id   integer         YES

In [18]:
query = '''
   
   with filter_books as (SELECT author_id, book_id, avg                      --нашли id авторов отфильтрованных книг
   from books
   right join (SELECT book_id, avg(rating)             --средние оценки книг
   from ratings
   where book_id in (SELECT book_id               --нашли книги с 50 и более оценками
   from ratings
   group by 1
   having count(rating_id) >= 50)
   group by book_id) as books_ratings using(book_id)
   order by 3 desc)
   
   select author, round(avg(avg), 2)                             -- привязали книги к авторам, нашли средние рейтинги авторов, 
   from authors                                        -- отсортировали авторов по рейтингам
   right join filter_books using(author_id)
   group by 1
   order by 2 desc
   limit 1
        '''
pd.io.sql.read_sql(query, con = engine)

                       author  round
0  J.K. Rowling/Mary GrandPré   4.28